{% extends 'base.html' %}
{#{% laod static %}#}


{% block title %}

{% endblock %}

{% block css %}
{% endblock %}



{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h2>Yes!</h2>
            </div>
            <div class="col">
                <button><a href="{% url 'mind:list' %}">View List</a></button>
            </div>
        </div>
        <a href="{% url 'mind:create' %}">
            <button>Create MindMap</button>
        </a>
    </div>






{% endblock %}








{% block js %}
{% endblock %}