{% extends 'base.html' %}
{#{% laod static %}#}


{% block title %}

{% endblock %}

{% block css %}
{% endblock %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Make MindMap for Test</h3>
            </div>
        </div>


        {% for node in mind_map %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'mind:detail' node.id %}">{{ node.id }}</a>
                </div>
                <div class="col">
                    <p>{{ node.root_node.id }} {{ node.root_node.title }} {{ node.root_node.content }}</p>
                </div>
            </div>
    {% endfor %}


        <div class="row">
            <div class="col">
                <form action="{% url 'mind:detail' 0 %}" method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form }}

                    <button class="btn btn-primary" type="submit">Create</button>
                </form>
            </div>
        </div>

    </div>






{% endblock %}








{% block js %}
{% endblock %}